.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  flex: 1;
  min-width: 0;
}


.quick-actions {
  width: 250px;
  flex-shrink: 0;
}

.buttons-container {
  min-width: 0;
  margin: 15px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.quick-actions-button {
  background-color: #262332;
  margin: 15px;
  flex-shrink: 0;
}

.main-content {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: flex-start;
}

.progress-header {
  margin-bottom: 30px;
  width: 100%;
}
